$def with (name,content,info,issues,enter)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$name</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./static/css/bootstrap.css">
    <link rel="stylesheet" href="./static/css/test.css">
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="./static/js/jquery-3.0.0.min.js"></script>
    <script src="./static/js/bootstrap.js"></script>
    <script src="./static/js/fenlan.js"></script>

</head>
<body class="font_1">
<div class="site-wrapper">
    <div class="">
        <div class="cover-container">
            <div class="masthead clearfix pos_stock">
                <div class="inner">
                    <h3 class="masthead-brand">AIDA</h3>
                    <nav class="nav nav-masthead">
                        <a class="nav-link active" href="#">Home</a>
                        <a class="nav-link" href="#">About us</a>
                        <a class="nav-link" href="#">Help</a>
                    </nav>
                </div>
            </div>
            <div class="stock_content_div stock_content">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="mb80 bold text-center topic_20">Few things about us</h2>
                        <div class="tabbed-content button-tabs vertical ">
                            <ul class="tabs">
                                <li class="active">
                                    <div class="tab-title" id="information">
                                        <span>Essential Information</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab-title" id="issues">
                                        <span>Marketable Issues</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab-title" id="price">
                                        <span>Pricing Forecast</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab-title" id="enterprise">
                                        <span>Affiliated Enterprise</span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="content" >
                                <li class="active" id="info-li" >
                                    <div class="tab-content">
                                        <h5 class="bold">Essential Information</h5>
                                        <hr>
                                        $for line in info.split('\n'):
                                        <p class="lead stock_content">
                                            $line.strip()
                                        </p>
                                    </div>
                                </li>
                                <li id="issues-li">
                                    <div class="tab-content">
                                        <h5 class="bold">Marketable Issues</h5>
                                        <hr>
                                        $for line in issues.split('\n'):
                                        <p class="lead stock_content">
                                            $line.strip()
                                        </p>
                                    </div>
                                </li>
                                <li id="price-li">
                                    <div class="tab-content">
                                        <h5 class="bold">Pricing Forecast</h5>
                                        <hr>
                                        <p class="lead stock_content">
                                            暂无数据。
                                        </p>
                                    </div>
                                </li>
                                <li id="enterprise-li">
                                    <div class="tab-content">
                                        <h5 class="bold">Affiliated Enterprise</h5>
                                        <hr>
                                        $for line in enter.split('\n'):
                                        <p class="lead stock_content">
                                            $line.strip()
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mastfoot pos_stock">
                <div class="inner">
                    <p>Organized by <a href="#">@AIDA</a>.</p>
                </div>
            </div>
        </div>


    </div>
</div>

</body>
</html>